/* button */
button {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 3px;
	padding-bottom: 4px; /* hack to line up with checkboxes */
	margin: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: none;
	/*margin-top: 2px;*/
	border: none;
	vertical-align: middle;
	/*line-height: 100%;*/
	border-radius: 2px;
}
button:focus { outline:none; }
button .material-icons {
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
}

.panel .bar button.light button.light {
	line-height: 100%;
}
.panel .bar button.light .material-icons {
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
}

/* checkbox */
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 4px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: none;
	vertical-align: middle;
	line-height: 100%;
	border:none;
	border-radius: 2px;
}
input[type=checkbox] + label .material-icons {
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
}
input[type=checkbox] + label:hover {
	text-decoration: underline;
}

/* radio */
input[type=radio] {
	display: none;
}
input[type=radio] + label {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 4px;
	margin: 0px;
	margin-bottom: 2px;
	vertical-align: middle;
	line-height: 100%;
}
input[type=radio] + label .material-icons {
	font-size: 18px;
	vertical-align: middle;
	line-height: 100%;
}
input[type=radio] + label:hover {
	text-decoration: underline;
}
input[type=radio] + label.left {
	border-radius: 2px 0px 0px 2px;
}
input[type=radio] + label.right {
	border-radius: 0px 2px 2px 0px;
}

#paintExplorerContent input[type=radio] + label {
	padding: 0px;
	background: none;
	border: none;
	text-decoration: none;
}

#paintExplorerContent input[type=radio]:checked + label img {
	background: white;
	padding: 2px;
	border: solid 2px #6767b2;
}

#paintExplorerContent input[type=radio]:checked + label {
	color: #6767b2; /* keep text the same color */
	font-weight: bold;
	/*text-decoration: underline;*/
}

#toolsPanel label {
	margin-bottom: 5px;
}

#toolsPanel button {
	margin-bottom: 5px;
	padding: 2px;
}

/*hack*/
#toolsCheckFlexItem label {
	/*border-radius: 4px;*/
	/*font-size: 16px;*/
}