body {
	background: #ccccff;
	color: #6767b2;
}

#topbar {
	border-bottom: solid 3px #6767b2;
}

.panel {
	background: white;
	border-bottom: solid 2px #6767b2;
}

.panel .bar {
	background: #e8e8ff;
	color: #6767b2;
	/*border-bottom: solid 1px #6767b2;*/
}

.panelShadow {
	background: #6767b2;
}

button {
	background: #e8e8ff;
	color: #6767b2;
}
.controlBox button {
	background: #ccccff;
}
button:active {
	background: #6767b2;
	color:white;
}

button.light {
	background: none;
}
button.light:hover {
	background: #ccccff;
}
button.light:active {
	background: #6767b2;
	color:white;
}

input[type=checkbox] + label {
	background: #e8e8ff;
	color: #6767b2;
}
input[type=checkbox]:checked + label {
	background: #6767b2;
	color: white;
}
input[type=radio] + label.left {
	border-right: solid 1px #6767b2;
}
input[type=radio] + label.middle {
	border-right: solid 1px #6767b2;
}

input[type=radio] + label {
	background: #e8e8ff;
	color: #6767b2;
}
input[type=radio]:checked + label {
	background: #6767b2;
	color:white;
}

.controlBox input[type=radio]:not(:checked) + label {
	background: #ccccff;
}

.buttonGroup {
	background: none;
}

.controlBox {
	background: #e8e8ff;
}

.controlSpan {
	background: #e8e8ff;
}

.controlBox .controlSpan {
	background: #ccccff;
}

.controlBox .controlBox {
	background: #ccccff;
}

/*topbar*/
#topbar input[type=checkbox]:not(:checked) + label {
	background: none;
}

#toolsPanel input[type=checkbox]:not(:checked) + label {
	background: none;
}

.warning {
	background: #f7df74;
	border-bottom: solid #776203 2px;
	color: #776203;
}
.warning button {
	color: white;
	background: #776203;
}

.helpMessage {
	background: #e8e8ff;
	color: #6767b2;
}
#editSelectedExit {
	background: #e8e8ff;
	color: #6767b2;
}

#paintExplorerContent img {
	background:#6767b2;
}

.inventoryVariableBox button {
	background: #e8e8ff;
}

button:disabled {
	opacity: 0.5;
}

/*#dialogTools input[type=checkbox] + label {
	background: #ccccff;
	color: #6767b2;
	float: right;
}

#dialogTools input[type=checkbox]:checked + label {
	background: #6767b2;
	color: white;
}*/

#dialogTop input[type=checkbox]:disabled + label {
	opacity: 0.5;
}

.highlighted {
	background: #6767b2;
	color: white;
}