.responsive_vertical #editorContent {
	white-space: normal;
	padding: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.responsive_vertical .panel {
	display: block;
	width: calc(100vw - 28px);
	max-width: calc(100vw - 28px);
	margin: 4px;
}