.responsive_vertical #editorContent {
	white-space: normal;
	padding: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.responsive_vertical .panel {
	display: block;
	width: calc(100vw - 28px);
	max-width: calc(100vw - 28px);
	margin: 4px;
}

.responsive_vertical #bylineFlexItem {
	display: none;
}

.responsive_vertical #topbarSpaceFlexItem {
	display: none;
}

.responsive_vertical #titleFlexItem {
	display: none;
}

.responsive_vertical #toolsCheckLabel {
	float: right;
	margin-top: 4px; /* hacky */
}

#titlePanel {
	display: none;
}

.responsive_vertical #titlePanel {
	display: block;
}