#titlePanel {
	display: none;
}

@media (orientation: portrait) {
	#editorContent {
		white-space: normal;
		padding: 0px;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.panel {
		display: block;
		width: 92vw;
		max-width: 92vw;
		margin: 2vw;
		border-radius: 2vw;
		padding: 2vw;
	}

	.panel .bar {
		padding: 1vw;
		padding-left: 2vw;
		padding-right: 2vw;
		padding-bottom: 2px;
		margin: -2vw;
		margin-bottom: 2vw;
		border-radius: 2vw 2vw 0px 0px;
	}

	.panelShadow {
		border-radius: 2vw;
	}

	.controlBox {
		border-radius: 1vw;
	}

	.controlSpan {
		border-radius: 1vw;
	}

	#paintExplorerViewport {
		border-radius: 1vw;
	}

	.left {
		border-radius: 1vw 0px 0px 1vw;
	}

	.right {
		border-radius: 0px 1vw 1vw 0px;
	}

	.advDialogOptionDiv {
		border-radius: 1vw;
	}

	.advDialogConditionDiv {
		border-radius: 1vw;
	}

	#advDialogViewport {
		border-radius: 1vw;
	}

	.inventoryViewport {
		border-radius: 1vw;
	}

	#bylineFlexItem {
		display: none;
	}

	#topbarSpaceFlexItem {
		display: none;
	}

	#titleFlexItem {
		display: none;
	}

	#toolsCheckLabel {
		float: right;
		margin-top: 2vw; /* hacky */
	}

	#titlePanel {
		display: block;
	}

	#game {
		width: 100%;
	}

	#paint {
		width: 100%;
	}

	#colorPickerWheel, #colorPickerSelect {
		width: 70%;
		margin-left: 15%;
	}

	#colorPickerSelect {
		margin-top: -70%;
	}

	#colorPickerSliderBg {
		width: 80%;
		margin-left: 10%;
	}

	#colorPickerHexText {
		width: 80%;
		margin-left: 10%;
	}

	#aboutPanel {
		width: 100%;
	}

	#paintExplorerViewport {
		width: 92%;
		margin-left: 0%;
	}

	#titleTextPanel {
		width: calc(100% - 8vw);
	}

	input[type=text] {
		font-size: 80%;
		line-height: 100%;
	}

	input[type=text].nameTextbox {
		font-size: 50%;
	}

	#game_data {
		width: 100%;
		height: 50vh;
	}
}

/* high dpi */
@media 
(-webkit-device-pixel-ratio: 3) and (orientation: portrait), 
(min-resolution: 288dpi) and (orientation: portrait) {
	body {
		font-size: 96px;
	}

	#bitsyLogo {
		width: 148px;
		height: 148px;
	}
}

@media 
(-webkit-device-pixel-ratio: 2) and (orientation: portrait), 
(min-resolution: 192dpi) and (max-resolution: 287dpi) and (orientation: portrait) {
	body {
		font-size: 48px;
	}

	#bitsyLogo {
		width: 72px;
		height: 72px;
	}
}

@media 
(-webkit-device-pixel-ratio: 1) and (orientation: portrait), 
(min-resolution: 96dpi) and (max-resolution: 191dpi) and (orientation: portrait) {
	body {
		font-size: 24px;
	}

	#bitsyLogo {
		width: 36px;
		height: 36px;
	}
}