/* theme */
:root {
	--bitsy-color-main-1: #ffffff;
	--bitsy-color-main-2: #6767b2;
	--bitsy-color-accent-1: #e8e8ff;
	--bitsy-color-accent-2: #ccccff;
	--bitsy-space-xs: 0.125rem;
	--bitsy-space-s: 0.25rem;
	--bitsy-space-m: 0.5rem;
	--bitsy-space-l: 1.0rem;
	--bitsy-size-xs: 8rem;
	--bitsy-size-s: 16rem;
	--bitsy-size-m: 24rem;
	--bitsy-size-l: 32rem;
}

/* icons */
.bitsy_icon svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* cards */
.bitsy-card {
	background: var(--bitsy-color-main-1);
	margin: var(--bitsy-space-m);
	margin-right: 0;
	/*margin-left: 0;*/
	display: inline-flex;
	flex-direction: column;
	max-height: 100%;
	border-radius: var(--bitsy-space-s);
	border-bottom: solid var(--bitsy-space-xs) var(--bitsy-color-main-2);
}

.bitsy-card-main {
	flex-grow: 1;
	padding: var(--bitsy-space-m);
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.bitsy-card-xs .bitsy-card-main {
	width: var(--bitsy-size-xs);
}

.bitsy-card-s .bitsy-card-main {
	width: var(--bitsy-size-s);
}

.bitsy-card-m .bitsy-card-main {
	width: var(--bitsy-size-m);
}

.bitsy-card-l .bitsy-card-main {
	width: var(--bitsy-size-l);
}

.bitsy-card-titlebar {
	display: flex;
	padding: var(--bitsy-space-s);
	background: var(--bitsy-color-accent-1);
	border-radius: var(--bitsy-space-s) var(--bitsy-space-s) 0 0;
}

.bitsy-card-title {
	flex-grow: 1;
	margin: var(--bitsy-space-s);
	margin-left: var(--bitsy-space-m);
	user-select: none;
}

/* menu */
.bitsy-menu-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--bitsy-space-s);
	align-items: center;
}

.bitsy-menu-scrollview {
	flex-grow: 1;
	flex-basis: 100%;
	border: solid var(--bitsy-space-xs);
	border-color: var(--bitsy-color-accent-1);
	padding: var(--bitsy-space-m);
	overflow-y: auto;
	border-radius: var(--bitsy-space-s);
	height: var(--bitsy-size-m);
}

.bitsy-menu-scrollcontent {
	white-space: normal;
}