/* theme */
:root {
	--bitsy-color-main-1: #ffffff;
	--bitsy-color-main-2: #6767b2;
	--bitsy-color-accent-1: #e8e8ff;
	--bitsy-color-accent-2: #ccccff;
	--bitsy-color-neutral-1: #eee;
	--bitsy-color-neutral-2: #888;
	--bitsy-space-xxs: 0.05rem;
	--bitsy-space-xs: 0.125rem;
	--bitsy-space-s: 0.25rem;
	--bitsy-space-m: 0.5rem;
	--bitsy-space-l: 1.0rem;
	--bitsy-size-xs: 8rem;
	--bitsy-size-s: 16rem;
	--bitsy-size-m: 24rem;
	--bitsy-size-l: 32rem;
}

/* remove browser default styles */
button, input {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	background: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
}

/* page */
html {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 100%;
	width: 100%;
	height: 100%;
	background: var(--bitsy-color-main-1);
	color: var(--bitsy-color-main-2);
	overscroll-behavior: none;
	scrollbar-color: var(--bitsy-color-main-2) var(--bitsy-color-accent-1);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* button */
button {
	background: var(--bitsy-color-accent-1);
	padding: var(--bitsy-space-s);
	margin: var(--bitsy-space-xs);
	border-radius: var(--bitsy-space-s);
	display: inline-flex;
	align-items: center;
}

button:active {
	background: var(--bitsy-color-main-2);
	color: var(--bitsy-color-main-1);
}

button:disabled {
	opacity: 0.5;
}

/* label */
label {
	background: var(--bitsy-color-accent-1);
	padding: var(--bitsy-space-s);
	margin: var(--bitsy-space-xs);
	border-radius: var(--bitsy-space-s);
	display: inline-flex;
	align-items: center;
}

/* text input */
input[type=text] {
	flex-grow: 1;
	border-radius: var(--bitsy-space-s);
	padding: var(--bitsy-space-s);
	margin: var(--bitsy-space-s);
	color: var(--bitsy-color-main-2);
	background: var(--bitsy-color-accent-1);
	border: solid var(--bitsy-space-xxs) var(--bitsy-color-main-1);
}

input[type=text]:not([readonly]) {
	color: black;
	background: var(--bitsy-color-neutral-1);
	border-color: var(--bitsy-color-neutral-1);
}

input[type=text]:hover:not([readonly]) {
	text-decoration: underline;
	border-color: var(--bitsy-color-neutral-2);
}

input[type=text]:focus:not([readonly]) {
	background: white;
	border-color: var(--bitsy-color-neutral-2);
	text-decoration: none;
}

input[type=text].bitsy-input-style-with-badge {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
}

/* radio */
input[type=radio] {
	display: none;
}

input[type=radio] + label {
	flex-grow: 1;
	align-content: center;
	justify-content: center;
}

input[type=radio] + label.left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input[type=radio] + label.middle {
	border-radius: 0;
}

input[type=radio] + label.right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type=radio] + label:hover {
	text-decoration: underline;
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	align-content: center;
	justify-content: center;
}

input[type=checkbox] + label:hover {
	text-decoration: underline;
}

/* icons */
.bitsy_icon svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* cards */
.bitsy-card {
	background: var(--bitsy-color-main-1);
	margin: var(--bitsy-space-m);
	margin-right: 0;
	display: inline-flex;
	flex-direction: column;
	/*max-height: 100%;*/
	border-radius: var(--bitsy-space-s);
	border-bottom: solid var(--bitsy-space-xs) var(--bitsy-color-main-2);
}

.bitsy-card-main {
	flex-grow: 1;
	padding: var(--bitsy-space-m);
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.bitsy-card-xs .bitsy-card-main {
	width: var(--bitsy-size-xs);
}

.bitsy-card-s .bitsy-card-main {
	width: var(--bitsy-size-s);
}

.bitsy-card-m .bitsy-card-main {
	width: var(--bitsy-size-m);
}

.bitsy-card-l .bitsy-card-main {
	width: var(--bitsy-size-l);
}

.bitsy-card-titlebar {
	display: flex;
	padding: var(--bitsy-space-s);
	background: var(--bitsy-color-accent-1);
	border-radius: var(--bitsy-space-s) var(--bitsy-space-s) 0 0;
	align-items: center;
}

.bitsy-card-title {
	flex-grow: 1;
	margin-left: var(--bitsy-space-m);
	user-select: none;
}

/* menu */
.bitsy-menu-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--bitsy-space-s);
}

.bitsy-menu-label .bitsy_icon {
	margin-right: var(--bitsy-space-s);
}

.bitsy-label-style-badge {
	background: var(--bitsy-color-neutral-1);
	color: var(--bitsy-color-neutral-2);
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.bitsy-menu-scrollview {
	flex-grow: 1;
	flex-basis: 100%;
	border: solid var(--bitsy-space-xs);
	border-color: var(--bitsy-color-accent-1);
	padding: var(--bitsy-space-m);
	overflow-y: auto;
	border-radius: var(--bitsy-space-s);
	height: var(--bitsy-size-m);
}

.bitsy-menu-scrollcontent {
	white-space: normal;
}

/* thumbnail */
.bitsy-thumbnail {
	display: inline-flex;
	margin: var(--bitsy-space-s);
	flex-direction: column;
	width: 5em;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.bitsy-thumbnail.bitsy-thumbnail-selected .bitsy-thumbnail-image-container {
	border-color: var(--bitsy-color-main-2);
}

.bitsy-thumbnail.bitsy-thumbnail-selected .bitsy-menu-label {
	color: var(--bitsy-color-main-1);
	background: var(--bitsy-color-main-2);
}

.bitsy-thumbnail-image-container {
	display: inline-flex;
	align-self: center;
	align-items: center;
	border: solid var(--bitsy-space-xs) var(--bitsy-color-main-1);
	border-radius: var(--bitsy-space-xs);
	padding: var(--bitsy-space-s);
}

.bitsy-thumbnail-image-container .bitsy_icon svg {
	width: 4em;
	height: 4em;
}

.bitsy-thumbnail-image-container img {
	width: 4em;
	height: 4em;
}

.bitsy-thumbnail .bitsy-menu-label {
	overflow: hidden;
	white-space: nowrap;
}