#colorPaletteForm input[type=radio] {
	display: none;
}

#colorPicker {
	margin-bottom: 10px;
}

#colorPickerWheel {
	width: 215px;
	/*height: 200px;*/
	display: block;
	background: transparent;
}

#colorPickerSelect {
	width: 215px;
	/*height: 200px;*/
	display: block;
	margin-top: -215px;
	cursor: pointer;
	background: transparent;
}

#colorPickerHexText {
	display: block;
	width: 140px;
	margin-left: 30px;
	margin-top: 10px;
}

#colorPickerSliderBg {
	background:linear-gradient(to right,yellow,black);
	display: inline-block;
	padding: 4px;
	margin-left: 30px;
	margin-top: 5px;
	border-radius: 4px;
	width: 140px;
}

#colorPaletteForm input[type=radio] + label {
	display: block;
	margin-bottom: 4px;
	background: #e8e8ff;
	border-radius: 4px;
	border: solid 1px #ddd;
}

#colorPaletteForm input[type=radio]:checked + label {
	border: solid 2px black;
	background: #e8e8ff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: middle;
}

#colorPickerSliderThumb {
	height: 12px;
	width: 4px;
	background: white;
	border: solid 2px black;
	pointer-events: none;
}

#colorPaletteForm input[type="radio"] + label.colorPaletteLabelDark {
	color: white; /* white text for dark backgrounds */
}

#colorPaletteForm input[type="radio"] + label.colorPaletteLabelLight {
	color: black; /* black text for light backgrounds */
}