#dialogContentViewport {
	min-width: 340px;
	height:450px;
	overflow:scroll;
	display:block;
	border: solid 1px #ccccff;
	border-radius: 2px;
	margin-bottom: 10px;
	line-height: 1;
	resize: both;
	background: #e8e8ff;
	white-space: normal;
}

.dialogContentMiniViewport {
	height: 100px;
	overflow: scroll;
	border-top: solid 1px #ccccff;
	/*min-width: 275px;*/
	width: 300px;
	white-space: normal;
}

.blockEditor {
	background: #e8e8ff;
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.actionEditor {
	background: white;
	padding: 5px;
	margin-bottom: 5px;
	border: solid 1px #6767b2;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.selectedEditor.actionEditor {
	border: solid 2px #6767b2;
}

.dialogEditor textarea {
	background: black;
	color: white;
	/*width: 96%;*/
	border: none;
	resize: vertical;
}

.sequenceDescription {
	margin-bottom: 5px;
}

.conditionEditor {
	margin: 5px;
}

.optionEditor {
	background: #e8e8ff;
	margin-bottom: 5px;
	padding: 5px;
}

.optionControls {
}

.optionControls button {
	background: #ccccff;
}

.actionBuilder {
	/*display: flex;*/
	display: none;
	flex-direction: column;
}

.selectedEditor > .blockEditor > .actionBuilder {
	display: flex;
}

.selectedEditor > .optionRoot > .optionEditor > .blockEditor > .actionBuilder {
	display: flex;
}

.actionBuilder button {
	flex-grow: 1;
}

.actionBuilderActive .actionBuilderAdd {
	display: none;
}

.actionBuilderButton {
	background: #ccccff;
	display: none;
}

.actionBuilderActive .actionBuilderButton {
	display: block;
}

.actionBuilderAdd {
	background: #ccccff;
}

.actionBuilderCancel {
	background: #6767b2;
	color: white;
}

.orderControls {
	display: none;
	margin-bottom: 5px;
}

.selectedEditor > .orderControls {
	display: block;
}

.selectedEditor > .optionRoot > .optionEditor > .optionControls .orderControls {
	display: block;
}

.addOption {
	display: flex;
}

.addOption button {
	display: none;
	flex-grow: 1;
}

.selectedEditor > .addOption button {
	display: block;
}

.functionEditor input[type="text"] {
	width: 50px;
}

.roomPosParameterEditor {
	padding: 5px;
	border-radius: 2px;
	background: #e8e8ff;
}

.roomPosParameterEditor span {
	margin-right: 5px;
}

.roomPosParameterEditor button {
	background: #ccccff;
}