.dialogContentViewport {
	min-width: 410px;
	height: 450px;
	overflow: scroll;
	display: block;
	border: solid 1px #ccccff;
	border-radius: 2px;
	margin-bottom: 10px;
	line-height: 1;
	resize: both;
	background: #e8e8ff;
	white-space: normal;
}

.largeDialogPlaintextArea {
	background: black;
	color: white;
	border: none;
	resize: both;
	min-width: 410px;
	min-height: 450px; /* todo : taller? */
}

.miniDialogPlaintextArea {
	background: black;
	color: white;
	border: none;
	resize: vertical;
}

.blockEditor {
	background: #e8e8ff;
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.actionEditor {
	background: white;
	padding: 10px;
	/*margin-bottom: 5px;*/
	border: solid 1px #6767b2;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/*transition: background 1s ease-in;*/
}

.executing.actionEditor {
	background: #6767b2;
	color: white;
}

.actionEditor.inline {
	display: inline;
	padding: 2px;
	border: none;
}

@keyframes executingLeaveAnimation {
	from { background: #6767b2; }
	to { background: white; }	
}

.executingLeave.actionEditor {
	animation-name: executingLeaveAnimation;
	animation-duration: 1s;
}

.selectedEditor.actionEditor {
	border: solid 2px #6767b2;
}

.selectedEditor.actionEditor.inline {
	border: none;
}

.dialogEditor textarea {
	background: black;
	color: white;
	/*width: 96%;*/
	border: none;
	resize: vertical;
}

.sequenceDescription {
	margin-bottom: 5px;
}

.optionEditor {
	background: #e8e8ff;
	margin-bottom: 5px;
	padding: 5px;
}

.optionControls {
}

.optionControls button {
	background: #ccccff;
}

.actionBuilder {
	/*display: flex;*/
	display: none;
	flex-direction: column;
	margin-top: 5px;
}

.selectedEditor > .blockEditor > .actionBuilder {
	display: flex;
}

.actionBuilder button {
	flex-grow: 1;
}

.actionBuilderActive .actionBuilderAdd {
	display: none;
}

.actionBuilderButton {
	background: #ccccff;
	display: none;
}

.actionBuilderAdd {
	background: #ccccff;
}

.actionBuilderCancel {
	background: #6767b2;
	color: white;
	display: none;
}

.actionBuilderActive .actionBuilderCancel {
	display: block;
}

.actionBuilderRoot .actionBuilderCategory {
	display: block;
}

.actionBuilder_dialog .actionBuilderButton_dialog {
	display: block;
}

.actionBuilder_flow .actionBuilderButton_flow {
	display: block;
}

.actionBuilder_exit .actionBuilderButton_exit {
	display: block;
}

.actionBuilder_item .actionBuilderButton_item {
	display: block;
}

.actionBuilder_dialog .actionBuilderButton_back {
	display: block;
}

.actionBuilder_flow .actionBuilderButton_back {
	display: block;
}

.actionBuilder_exit .actionBuilderButton_back {
	display: block;
}

.actionBuilder_item .actionBuilderButton_back {
	display: block;
}

.orderControls {
	display: block;
	margin-bottom: 5px;
}

.optionEditor.selectedEditor {
	border: solid 1px #ccccff;
}

.addOption {
	display: flex;
}

.addOption button {
	display: none;
	flex-grow: 1;
}

.selectedEditor > .addOption button {
	display: block;
}

.functionEditor input[type="text"] {
	width: 50px;
}

.functionEditor input[type="number"] {
	width: 50px;
}

.roomPosParameterEditor {
	padding: 5px;
	border-radius: 2px;
	background: #e8e8ff;
	display: inline-block;
}

.roomPosParameterEditor span {
	margin-right: 5px;
}

.roomPosParameterEditor button {
	background: #ccccff;
}

.parameterUneditable {
	/*padding: 5px;*/
	border-radius: 2px;
	background: #e8e8ff;
}

.conditionalComparisonEditor {
	padding: 5px;
	padding-left: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccccff;
}

.conditionalComparisonEditor .parameterUneditable {
	background: #ccccff;
}

.conditionalComparisonEditor input[type="number"] {
	width: 50px;
}

.helpText {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ccccff;
	max-width: 350px;
}

/* todo: move into own file?*/
/* TITLE WIDGET */
.titleWidget {
	display: flex;
}

.titleWidget .textInputField {
	flex-grow: 1;
}

.titleOpenDialog {
	display: none;
	margin-left: 5px;
}

/* expression builder styles */
.dialogExpressionBuilderHolder {
	background: #e8e8ff;
	padding: 10px;
	border: solid 1px #ccccff;
	border-radius: 2px;
	margin-bottom: 10px;
	height: 450px;
}

.expressionBuilder {
	background: white;
	padding: 5px;
}