/* TODO : simplify -> less IDs, more classes */

#noMarkerMessage {
	width:300px;
}

#noMarkerMessage span {
	white-space: pre-wrap; word-wrap: break-word;
}

#markersSelect {
	display: flex;
}

#markerControl1 {
	display: flex; flex-direction: column;
	padding: 10px;
}

#markerName1 {
	line-height: 12px;
}

#markerCanvas1 {
	width:120px; height:120px;
}

.markerPosControl {
	margin-top: 4px;
}

.markerCoordinatesHolder {
	max-width: 120px;
	overflow: hidden;
}

#textMarkerPos1 {
	font-size: 80%;
}

#textMoveMessage1 {
	font-size: 80%;
}

#markerLinkControl {
	padding-left: 5px; padding-right: 5px; display:inline-block;
}

#markerLinkControl button {
	margin-top: 70px;
}

#markerControl2 {
	padding: 10px;
}

#markerName2 {
	line-height: 12px;
}

#markerCanvas2 {
	width:120px; height:120px;
}

#textMarkerPos2 {
	font-size: 80%;
}

#textMoveMessage2 {
	font-size: 80%;
}

#endingText {
	resize: vertical; width: 32ch;
}

#exitOptionsInner {
	display: none;
}

#exitOptionsRadio {
	display: flex; flex-direction: row; margin-top:5px; margin-bottom: 5px;
}

#exitOptionsRadio label {
	flex: 1; font-size: 100%;
}