:root {
	--bitsy-color-gif-recording: red;
	--bitsy-color-gif-encoding: green;
}

#gifPlaceholder {
	background: var(--bitsy-color-neutral-1);
	width: calc(var(--bitsy-size-s) * 1.25); /* this is a little bespoke */
	height: calc(var(--bitsy-size-s) * 1.25);
	display: block;
}

#gifPreview {
	width: calc(var(--bitsy-size-s) * 1.25);
}

#gifRecordingText {
	color: var(--bitsy-color-gif-recording);
}

#gifEncodingText {
	color: var(--bitsy-color-gif-encoding);
}