.bitsy_icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	fill: #6767b2;
}

.icon_large {
	width: 24px;
	height: 24px;
}

.icon_space_right {
	margin-right: 2px;
}

.icon_large .icon_space_right {
	margin-right: 5px;
}

.panelBarTitle .bitsy_icon {
	vertical-align: middle;
}

button .bitsy_icon {
	vertical-align: middle;
}

input[type=radio] + label .bitsy_icon {
	vertical-align: middle;
}

input[type=radio]:checked + label .bitsy_icon {
	fill: white;
}

input[type=checkbox] + label .bitsy_icon {
	vertical-align: middle;
}

input[type=checkbox]:checked + label .bitsy_icon {
	fill: white;
}

.cancelButton .bitsy_icon {
	fill: white;
}

.reverseColors .bitsy_icon {
	fill: white;
}

#colorPaletteForm input[type="radio"] + label.colorPaletteLabelDark .bitsy_icon {
	fill: white; /* white text for dark backgrounds */
}

#colorPaletteForm input[type="radio"] + label.colorPaletteLabelLight .bitsy_icon {
	fill: black; /* black text for light backgrounds */
}

.icon_anim_frame0 {
	display: none;
}

.bitsy_icon_anim.icon_anim0 .icon_anim_frame0 {
	display: inline-block;
}

.icon_anim_frame1 {
	display: none;
}

.bitsy_icon_anim.icon_anim1 .icon_anim_frame1 {
	display: inline-block;
}

#gifRecordingText .bitsy_icon {
	fill: red;
}

#gifEncodingText .bitsy_icon {
	fill: green;
}

.actionBuilderCancel .bitsy_icon {
	fill: white;
}

/* kind of specific here */
.inventoryVariableBox button:hover .bitsy_icon {
	fill: white;
}