.navControl {
	display: flex;
	margin-bottom: 10px;
}

/*.navControl button {
	line-height: 100%;
}*/

.navControl .textInputField {
	margin-right: 2px;
	flex-grow: 1;
	/*margin-top: 2px;*/
}

.navControl button {
	margin-top: 2px;
	/*border: solid black 1px;*/
}

.navControl input[type="checkbox"] + label {
	margin-top: 2px;
	margin-right: 2px;
}

.navControl .spacer {
	width: 4px;
}