#paintModeRadio {
	display: flex;
}

.animationThumbnail {
	width: var(--bitsy-size-xxs);
	padding: var(--bitsy-space-s);
	border: solid var(--bitsy-space-xs) var(--bitsy-color-accent-1);
	border-radius: var(--bitsy-space-s);
}

/* TODO : actually make this look like the old version? */
.animationThumbnail.selected {
	border-color: var(--bitsy-color-main-2);
}

.animationThumbnail img {
	width: 100%;
}